@import './_colors.scss';

// Small devices (portrait phones)
@media (min-width: 100px) and (max-width: 575px) {
  .about-container {
    display: inline-block;
    text-align: right;
    width: 100vw;
    margin-top: 16px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .about-container {
    display: inline-block;
    text-align: right;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .about-container {
    display: inline-block;
    text-align: right;
    width: 100vw;
    height: 100vh;
    margin-top: 80px;
  }
}


@media (min-width: 992px) {
  .about-container {
    margin-top: 0;
    display: inline-block;
    text-align: right;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow: scroll;
  }
  .projects-page-container {
    height: 100vh;
  }
}



.about-container {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px 60px;
  font-family: $main;
  font-size: 18px;
  font-weight: 500;
  p {
    margin-bottom: 24px;
  }
  .github {
    color: $orange;
    margin: 16px;
  }
  .linkedin {
    color: $pink;
    margin: 16px;
  }
}

.about-buttons {
  text-align: left;
}

.close-about {
  margin: 0 40px -16px -32px;
  opacity: 1;
  width: 80px;
  cursor: pointer;
  path {
    stroke: $green;
  }
  &:hover {
    transform: scale(1.01);
    transition: 0.3s;
  }
}
