@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500&display=swap');

$yellow: #DCFF03;
$orange: #FF9C09;
$green: #00882E;
$blue: #2200A9;
$pink: #FF65AF;

$main: 'Spartan', sans-serif;
