@import './_colors.scss';

// Small devices (portrait phones)
@media (min-width: 100px) and (max-width: 575px) {
  .menu-container {
    height: 100vh;
    width: 100%;
    .menu-list {
      margin-top: -80px;
    }
  }
  .menu-div {
    top: 16px;
    z-index: 1000000;
  }
}

@media (min-width: 992px) {
  .menu-container {
    height: 100vh;
    width: 50%;
    .menu-list {
      width: 50%;
      position: fixed;
      bottom: 250px;
    }
  }
  .menu-div {
    position: fixed;
    bottom: 16px;
  }
}


.menu {
  cursor: pointer;
  width: 80%;
  display: flex;
  margin: 16px;
  transition: 0.3s;
  &:hover {
    transform: scale(1.01);
    transition: 0.3s;
  }
  path {
    stroke: $blue;
    stroke-dasharray: 2053;
    animation: animate 3s;
  }
  @keyframes animate {
    0% {
      stroke-dashoffset: 2053;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
}


.about {
  cursor: pointer;
  path {
  stroke: $orange;
  stroke-dasharray: 2000;
  animation: animate 3s;
  }
  &:hover {
    transform: scale(1.01);
    transition: 0.3s;
  }
  @keyframes animate {
    0% {
      stroke-dashoffset: 2000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
}
.projects {
  cursor: pointer;
  path {
    stroke: $orange;
    stroke-dasharray: 3000;
    animation: animate 3s;
  }
  &:hover {
    transform: scale(1.01);
    transition: 0.3s;
  }
  @keyframes animate {
    0% {
      stroke-dashoffset: 3000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}
