@import './_colors.scss';

// Small devices (portrait phones)
@media (min-width: 100px) and (max-width: 575px) {
  .menu-container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: flex-end;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .menu-container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: flex-end;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .menu-container {
    display: flex;
    height: 100vh;
    width: 50%;
    align-items: flex-end;
  }
}

.menu {
  cursor: pointer;
  width: 80%;
  display: flex;
  margin: 16px;
  transition: 0.3s;
  position: relative;
  &:hover {
    transform: scale(1.01);
    transition: 0.3s;
  }
  path {
    stroke: $blue;
    stroke-dasharray: 2053;
    animation: animate 3s;
  }
  @keyframes animate {
    0% {
      stroke-dashoffset: 2053;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
}

.menu-list {
  width: 60%;
  flex-direction: column;
  position: absolute;
  bottom: 35%;
  .about {
    cursor: pointer;
    path {
    stroke: $orange;
    stroke-dasharray: 2000;
    animation: animate 3s;
    }
    &:hover {
      transform: scale(1.01);
      transition: 0.3s;
    }
    @keyframes animate {
      0% {
        stroke-dashoffset: 2000;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
  }
  .projects {
    cursor: pointer;
    path {
      stroke: $orange;
      stroke-dasharray: 3000;
      animation: animate 3s;
    }
    &:hover {
      transform: scale(1.01);
      transition: 0.3s;
    }
    @keyframes animate {
      0% {
        stroke-dashoffset: 3000;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
  }
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.dropdown-items {
  width: 35%;
  margin: 16px;

}

.about {

}

